table td {
  border: 1px solid black;
  width: 110px;
  height: 110px;
  background-color: rgb(124, 252, 252);
  font-size: 50px;
  text-align: center;
  color: purple;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
  margin-top: 90px;
  margin-bottom: 40px;
  text-align: center;
  color: red;
}

#result{
  margin: 30px auto 20px 220px;
  text-align: center;
  color: rgb(2, 134, 134)
}